@import "tailwindcss";

:root {
  --breakpoint-tab: 600px;
  --breakpoint-laptopS: 900px;
  --breakpoint-laptopM: 1500px;
  --breakpoint-laptopL: 1900px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
